#imagem1{
    width: 400px; 
    
}

#titulo2{
    color: white;
}

.textos{
    color: yellow;
}

.titulo3{
    color: red;
}

#lista-sem-ordem{
    color: green;
}

#lista-com-ordem{
    color: blue;
}